Solutions/Exportation/Workflows/ExportPowerBIReporttoFile-5C97F69B-1B3C-EC11-B6E5-000D3A5B2D35.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_sharepointonline"}},"shared_office365":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_office365"}},"shared_powerbi":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_powerbi"}},"shared_dcdemo-5fpowerbi-5fefba7ccbc5f5860e":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_dcdemo-5fpowerbi-5fefba7ccbc5f5860e","logicalName":"dcdemo_5Fpowerbi"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"967c7c82-4a21-4ae3-9e97-0971727dbe60"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"WorkspaceId","type":"string","x-ms-dynamically-added":true,"description":"Enter WorkspaceId","x-ms-content-hint":"TEXT"},"text_1":{"title":"ReportId","type":"string","x-ms-dynamically-added":true,"description":"Enter ReportId","x-ms-content-hint":"TEXT"},"text_2":{"title":"ExportFormat","type":"string","x-ms-dynamically-added":true,"description":"Enter ExportFormat","x-ms-content-hint":"TEXT"},"text_3":{"title":"PageName","type":"string","x-ms-dynamically-added":true,"description":"Enter PageName","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3"]}}}},"actions":{"Create_file":{"runAfter":{"FolderPath":["Succeeded"]},"metadata":{"operationMetadataId":"47aeb4d6-6813-4298-bfa4-10361c6d975b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://powerbidevcamp.sharepoint.com/","folderPath":"/ExportedReports/@{outputs('FolderPath')}","name":"@outputs('ExportFileName')","body":"@if(equals(triggerBody()['text_3'], ''), outputs('Export_To_File_for_Power_BI_Report')?['body'],outputs('Export_To_File_for_Power_BI_Report_Page')?['body'])"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Send_an_email_(V2)":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"107982e3-3394-4dc5-ae17-6e4d2d59362f"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"Tedp@powerbidevcamp.net","emailMessage/Subject":"Export complete for ","emailMessage/Body":"<p>Exported file is now available.<br>\nID: @{outputs('Create_file')?['body/Id']}<br>\nName: @{outputs('Create_file')?['body/Name']}<br>\nDisplay Name: @{outputs('Create_file')?['body/DisplayName']}<br>\nPath: @{outputs('Create_file')?['body/Path']}<br>\nMedia Type: @{outputs('Create_file')?['body/MediaType']}<br>\nFile Locator:@{outputs('Create_file')?['body/FileLocator']}</p>"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Export_To_File_for_Power_BI_Report":{"runAfter":{},"metadata":{"operationMetadataId":"0e289a53-ca7a-453a-bc05-116d935a7880"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerbi","operationId":"InitiateExportToFileForPbiReports","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi"},"parameters":{"groupid":"@triggerBody()['text']","reportid":"@triggerBody()['text_1']","ExportPayloadPowerBIReport/format":"@triggerBody()['text_2']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"ExportFileName":["Succeeded"]},"else":{"actions":{"Export_To_File_for_Power_BI_Report_Page":{"runAfter":{},"metadata":{"operationMetadataId":"0e289a53-ca7a-453a-bc05-116d935a7880"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerbi","operationId":"InitiateExportToFileForPbiReports","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbi"},"parameters":{"groupid":"@triggerBody()['text']","reportid":"@triggerBody()['text_1']","ExportPayloadPowerBIReport/format":"@triggerBody()['text_2']","ExportPayloadPowerBIReport/PowerBIReportExportConfiguration/pages":[{"pageName":"@triggerBody()['text_3']"}]},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerBody()['text_3']",""]},"metadata":{"operationMetadataId":"3b9efe4d-0339-45d8-85bc-b9b6a68a93f3"},"type":"If"},"Get_Workspaces":{"runAfter":{},"metadata":{"operationMetadataId":"2f0bfe88-ed92-4fb3-a662-90a01f16c3dc"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_dcdemo-5fpowerbi-5fefba7ccbc5f5860e","operationId":"GetWorkspaces","apiId":""},"parameters":{"$filter":"id eq '@{triggerBody()['text']}'","$top":100},"authentication":"@parameters('$authentication')"}},"WorkspaceName":{"runAfter":{"Get_Workspaces":["Succeeded"]},"metadata":{"operationMetadataId":"2d171952-78dd-4b2d-94a6-23a5b401be5c"},"type":"Compose","inputs":"@outputs('Get_Workspaces')?['body/value'][0]['name']"},"Get_Report":{"runAfter":{"WorkspaceName":["Succeeded"]},"metadata":{"operationMetadataId":"ba609ab3-5225-4006-9a4b-f8ba18008585"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_dcdemo-5fpowerbi-5fefba7ccbc5f5860e","operationId":"GetReportInGroup","apiId":""},"parameters":{"WorkspaceId":"@triggerBody()['text']","ReportId":"@triggerBody()['text_1']"},"authentication":"@parameters('$authentication')"}},"ExportFileName":{"runAfter":{"Get_Report":["Succeeded"]},"metadata":{"operationMetadataId":"aaf68645-a6f2-43c6-9e59-fe63a9c8e8a5"},"type":"Compose","inputs":"@{outputs('Get_Report')?['body/name']}.@{triggerBody()['text_2']}"},"DateString":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"7b9fe5f3-decd-4fca-828a-dff5234ad3c8"},"type":"Compose","inputs":"@formatDateTime(addHours(utcNow(), -5), 'yyyy-MM-dd')"},"FolderPath":{"runAfter":{"DateString":["Succeeded"]},"metadata":{"operationMetadataId":"ab5880ef-eb5b-415c-b27f-13bda4c4df9e"},"type":"Compose","inputs":"@{outputs('WorkspaceName')}/@{outputs('DateString')}"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}