Solutions/PowerAutomatewithPowerBIDemo_1_0_0_6/Workflows/GenerateActivityData-A24F11C2-A039-EC11-B6E6-000D3A37BF4E.json
{"properties":{"connectionReferences":{},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"beac8a4b-796f-4890-a315-851574c2ce37"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"date":{"title":"StartDate","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"},"date_1":{"title":"EndDate","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"}},"required":["date","date_1"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"e544fa26-16c3-4306-92d5-5503333ff3b1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CurrentDate","type":"string","value":"@triggerBody()['date']"}]}},"Do_until":{"actions":{"Set_variable":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"52426900-bdaa-4ef2-a92b-fa4db2a7f43c"},"type":"SetVariable","inputs":{"name":"CurrentDate","value":"@{addDays(outputs('Compose'), 1, 'yyyy-MM-dd')}"}},"Run_a_Child_Flow":{"runAfter":{},"metadata":{"operationMetadataId":"5a90608e-a0a9-4935-8a23-9235641e46c5"},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"29fd0a26-a039-ec11-b6e6-000d3a5ca8da"},"body":{"date":"@variables('CurrentDate')"}}},"Compose":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"metadata":{"operationMetadataId":"d72d439b-be46-439f-8935-695c86c6d4eb"},"type":"Compose","inputs":"@variables('CurrentDate')"}},"runAfter":{"Initialize_variable":["Succeeded"]},"expression":"@greater(variables('CurrentDate'), triggerBody()['date_1'])","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"650fce14-9d73-42ad-bfe8-c6b3ab8807f4"},"type":"Until"}}}},"schemaVersion":"1.0.0.0"}