Solutions/PowerAutomatewithPowerBIDemo_1_0_0_6/Workflows/GetAccessTokenForServicePrincipal-176041B8-1F52-EC11-8C62-00224806EE25.json
{"properties":{"connectionReferences":{},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"2cc3fbc3-f55d-4257-8fa1-ac4fc02093e7"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"client_id":{"runAfter":{},"metadata":{"operationMetadataId":"743fe146-bf4d-4267-82ef-db7c30d3d789"},"type":"Compose","inputs":"734f19b0-ab9c-4ddc-ba3f-408a75c4975d"},"ClientCredentialsFlow":{"runAfter":{"tenant_id":["Succeeded"]},"metadata":{"operationMetadataId":"46daf7ab-089c-4a21-8016-7cbb2d5b2890"},"type":"Http","inputs":{"method":"POST","uri":"https://login.microsoftonline.com/@{outputs('tenant_id')}/oauth2/v2.0/token","headers":{"Content-Type":"application/x-www-form-urlencoded","Content-Length":"224"},"body":"client_id=@{outputs('client_id')}&client_info=1&client_secret=@{outputs('client_secret')}&scope=https%3A%2F%2Fanalysis.windows.net%2Fpowerbi%2Fapi%2F.default&grant_type=client_credentials"}},"ClientCredentialsFlowResponse":{"runAfter":{"ClientCredentialsFlow":["Succeeded"]},"metadata":{"operationMetadataId":"e1c45994-634e-4732-ab9d-d143039848b4"},"type":"ParseJson","inputs":{"content":"@body('ClientCredentialsFlow')","schema":{"type":"object","properties":{"token_type":{"type":"string"},"expires_in":{"type":"integer"},"ext_expires_in":{"type":"integer"},"access_token":{"type":"string"}}}}},"Response":{"runAfter":{"ClientCredentialsFlowResponse":["Succeeded"]},"metadata":{"operationMetadataId":"6d37c1c8-6134-42b7-b70c-d86777e7cb3b"},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@body('ClientCredentialsFlowResponse')","schema":{"type":"object","properties":{"token_type":{"type":"string"},"expires_in":{"type":"integer"},"ext_expires_in":{"type":"integer"},"access_token":{"type":"string"}}}}},"client_secret":{"runAfter":{"client_id":["Succeeded"]},"metadata":{"operationMetadataId":"27868b64-676a-4b84-b032-ed13562c20a8"},"type":"Compose","inputs":"xNI7Q~o6LVJERL6LpOoyJffQ2oOABLpX1NCOl"},"tenant_id":{"runAfter":{"client_secret":["Succeeded"]},"metadata":{"operationMetadataId":"a2820a06-ee67-4b43-b476-8ae2d9ab7238"},"type":"Compose","inputs":"f91c1aa6-5e5d-41f8-b964-4a9793d3557c"}}}},"schemaVersion":"1.0.0.0"}