Solutions/PowerAutomatewithPowerBIDemo_1_0_0_6/Workflows/GetCapacitiesAsAdmin-F8107DAE-E453-EC11-8C62-00224806E9B3.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "3df72d0a-887a-4e07-a3e9-6d1461fc8f97"
          },
          "type": "Request",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Run_a_Child_Flow": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "999e2616-3f12-4e72-a169-0c4f3269394a"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "176041b8-1f52-ec11-8c62-00224806ee25"
            }
          }
        },
        "access_token": {
          "runAfter": {
            "Run_a_Child_Flow": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d6e6321d-6af7-47c3-91ad-47c45a4f1939"
          },
          "type": "Compose",
          "inputs": "@body('Run_a_Child_Flow')?['access_token']"
        },
        "GetCapacitiesAsAdmin": {
          "runAfter": {
            "access_token": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "779175a4-20db-409d-aca0-6621c7e15a9d"
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://api.powerbi.com/v1.0/myorg/admin/capacities",
            "headers": {
              "Authorization": "Bearer @{outputs('access_token')}"
            }
          }
        },
        "Response": {
          "runAfter": {
            "GetCapacitiesAsAdmin": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6d249d33-ccf0-4b1b-bfba-eaf529506182"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@body('GetCapacitiesAsAdmin')",
            "schema": {
              "type": "object",
              "properties": {
                "@@odata.context": {
                  "type": "string"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "displayName": {
                        "type": "string"
                      },
                      "admins": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "sku": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "capacityUserAccessRight": {
                        "type": "string"
                      },
                      "region": {
                        "type": "string"
                      },
                      "users": {
                        "type": "array"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}