Solutions/PowerAutomatewithPowerBIDemo_1_0_0_6/Workflows/ImportCustomerSalesPbixToWorkspace-38B81FDD-6458-EC11-8F8F-000D3A11AF2B.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"devcamp_sharedsharepointonline_b16ee"},"api":{"name":"shared_sharepointonline"}},"shared_devcamp-5fpowerbi-5fe546196541960f1e":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"devcamp_shareddevcamp5fpowerbi5fe546196541960f1e_e9285"},"api":{"name":"shared_devcamp-5fpowerbi-5fe546196541960f1e","logicalName":"devcamp_5Fpowerbi"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"d2b97a3a-0205-4ae3-9f02-4ea5d0f9e852"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"WorkspaceId","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"ImportName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1"]}}}},"actions":{"Get_PBIX_Template":{"runAfter":{},"metadata":{"%252fPowerBiTemplates%252fCustomer%2bSales.pbix":"/PowerBiTemplates/Customer Sales.pbix","operationMetadataId":"111f7fe4-9779-4e6b-9f0d-79316b466ac5"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://pbi4xmas.sharepoint.com/","id":"%252fPowerBiTemplates%252fCustomer%2bSales.pbix","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Import_PBIX_To_Workspace":{"runAfter":{"ContentLength":["Succeeded"]},"metadata":{"operationMetadataId":"f7255074-8e25-488e-99b0-f588f6c56861"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_devcamp-5fpowerbi-5fe546196541960f1e","operationId":"ImportPbixToWorkspace","apiId":""},"parameters":{"WorkspaceId":"@triggerBody()['text']","body":"{\n  \"$content-type\": \"multipart/form-data\",\n  \"$multipart\": [\n    {\n      \"body\": @{body('Get_PBIX_Template')}\n    }\n  ]\n}","datasetDisplayName":"@triggerBody()['text_1']","Content-Type":"multipart/form-data","Content-Length":"@outputs('ContentLength')"},"authentication":"@parameters('$authentication')"}},"PostBody":{"runAfter":{"Get_PBIX_Template":["Succeeded"]},"metadata":{"operationMetadataId":"7ea51035-29a0-4889-bdea-4b223210ca60"},"type":"Compose","inputs":"--cf9ec612-6e94-485a-9fb3-e72db09ee893\nContent-Type: application/octet-stream\nContent-Disposition: form-data; name=\"file\"; filename=\"Customer Sales.pbix\"\n\n@{body('Get_PBIX_Template')}\n\n--cf9ec612-6e94-485a-9fb3-e72db09ee893--"},"ContentLength":{"runAfter":{"PostBody":["Succeeded"]},"metadata":{"operationMetadataId":"652108c7-dea4-408e-8dce-d711c8759466"},"type":"Compose","inputs":"@length(outputs('PostBody'))"}}}},"schemaVersion":"1.0.0.0"}