Solutions/Version1.0.0.1/Workflows/GenerateActivityEventsData-29FD0A26-A039-EC11-B6E6-000D3A5CA8DA.json
{"properties":{"connectionReferences":{"shared_powerbiadminapi-5fefba7ccbc5f5860e-5f74f1f3b31e322875":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerbiadminapi-5fefba7ccbc5f5860e-5f74f1f3b31e322875"}},"shared_sharepointonline":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"date":{"title":"ActivityDate","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"}},"required":["date"]}}}},"actions":{"Initialize_startDate":{"runAfter":{"Respond_to_a_PowerApp_or_flow":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"startDate","type":"string","value":"'@{triggerBody()['date']}T00:00:00'"}]}},"Initialize_endDate":{"runAfter":{"Initialize_startDate":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"endDate","type":"string","value":"'@{triggerBody()['date']}T23:59:59'"}]}},"GetActivityEventFirstCall":{"runAfter":{"Initialize_endDate":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerbiadminapi-5fefba7ccbc5f5860e-5f74f1f3b31e322875","operationId":"GetActivityEvent","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbiadminapi-5fefba7ccbc5f5860e-5f74f1f3b31e322875"},"parameters":{"startDateTime":"@variables('startDate')","endDateTime":"@variables('endDate')"},"authentication":"@parameters('$authentication')"}},"Initialize_continuationToken":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"continuationToken","type":"string","value":"'@{decodeUriComponent(outputs('GetActivityEventFirstCall')?['body/continuationToken'])}'"}]}},"Do_until":{"actions":{"GetActivityEventsWithContinuationToken":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerbiadminapi-5fefba7ccbc5f5860e-5f74f1f3b31e322875","operationId":"GetActivityEvent","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerbiadminapi-5fefba7ccbc5f5860e-5f74f1f3b31e322875"},"parameters":{"continuationToken":"@variables('continuationToken')"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"SetVariable","inputs":{"name":"continuationToken","value":"@{if(empty(outputs('GetActivityEventsWithContinuationToken')?['body/continuationToken']), null,concat('''', decodeUriComponent(outputs('GetActivityEventsWithContinuationToken')?['body/continuationToken']), ''''))}"}},"Apply_to_each":{"foreach":"@outputs('GetActivityEventsWithContinuationToken')?['body/activityEventEntities']","actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"activityEventEntities","value":"@item()"}}},"runAfter":{"GetActivityEventsWithContinuationToken":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_continuationToken":["Succeeded"]},"expression":"@equals(variables('continuationToken'), '')","limit":{"count":60,"timeout":"PT1H"},"type":"Until"},"Initialize_variable":{"runAfter":{"GetActivityEventFirstCall":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"activityEventEntities","type":"array","value":"@outputs('GetActivityEventFirstCall')?['body/activityEventEntities']"}]}},"Compose":{"runAfter":{"Do_until":["Succeeded"]},"type":"Compose","inputs":"@variables('activityEventEntities')"},"Apply_to_each_2":{"foreach":"@outputs('GetActivityEventFirstCall')?['body/activityEventEntities']","actions":{"Append_to_array_variable_2":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"activityEventEntities","value":"@item()"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Foreach"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"Condition":{"actions":{"Create_file":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://powerbidevcamp.sharepoint.com/","folderPath":"/PowerBiActivity","name":"pbievents-@{triggerBody()['date']}.json","body":"@outputs('Compose')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{"Compose":["Succeeded"]},"expression":{"not":{"equals":["@length(variables('activityEventEntities'))",0]}},"type":"If"}}}},"schemaVersion":"1.0.0.0"}