Solutions/Version1.0.0.1/Workflows/GenerateActivityData-A24F11C2-A039-EC11-B6E6-000D3A37BF4E.json
{"properties":{"connectionReferences":{},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"date":{"title":"StartDate","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"},"date_1":{"title":"EndDate","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"}},"required":["date","date_1"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"CurrentDate","type":"string","value":"@triggerBody()['date']"}]}},"Do_until":{"actions":{"Set_variable":{"runAfter":{"Compose":["Succeeded"]},"type":"SetVariable","inputs":{"name":"CurrentDate","value":"@{addDays(outputs('Compose'), 1, 'yyyy-MM-dd')}"}},"Run_a_Child_Flow":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"29fd0a26-a039-ec11-b6e6-000d3a5ca8da"},"body":{"date":"@variables('CurrentDate')"}}},"Compose":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"Compose","inputs":"@variables('CurrentDate')"}},"runAfter":{"Initialize_variable":["Succeeded"]},"expression":"@greater(variables('CurrentDate'), triggerBody()['date_1'])","limit":{"count":60,"timeout":"PT1H"},"type":"Until"}}}},"schemaVersion":"1.0.0.0"}